.raun {
    background: url('/images/xiaomi-mi-11.jpg');
     background-repeat: no-repeat;     /* təkrarlanmasın */
  background-position: center;      /* mərkəzə hizala */
  background-size: cover;   
}

.aypod {
    background: url('/images/hp-laser-jet.jpg');
     background-repeat: no-repeat;     /* təkrarlanmasın */
  background-position: center;      /* mərkəzə hizala */
  background-size: cover;  
}
.jops{
     background: url('/images/white-joy-cons.jpg');
     background-repeat: no-repeat;     /* təkrarlanmasın */
  background-position: center;      /* mərkəzə hizala */
  background-size: cover;  
   
}
.count{
  background-color: white !important;
}