name: Deploy Frontend to Ubuntu

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: 46.224.121.130
          username: root
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/magazam/site-magazam
            ./deploy.sh
